*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    background: #333;
    line-height: 2em;
}

#container{
    width: 60%;
    margin: auto;
    overflow: auto;
}

.badge{
    font-size: 120%;
    font-weight: bolder;
    padding-right: 50px;
    border-right: 1px solid #333;
}

.navbtn{
    padding-right: 20px;
    border-right: 1px solid #333;
}

.headtitle{
    text-align: center;
    font-size: 150%;
}

nav{
    background: rgba(0, 0, 0, 0.411);
    overflow: auto;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

nav li {
    margin: 5px;
    padding: 8px;
    float: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

header{
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.txtlink{
    color: rgb(186, 186, 250)
}

ul, li{
    list-style: none;
}

.slider{
    padding-top: 50px;
}

.slider .title{
    background: rgba(10, 10, 10, 0.467);
    font-size: 120%;
    text-align: center;
    border-bottom: 1px #ddd solid;
}

.slider .text{
    margin: 10px;
    padding-top: 5px;
}
