*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    background: #333;
    line-height: 2em;
}

#container{
    width: 65%;
    margin: auto;
    overflow: auto;
}

.badge{
    display: none;
    font-size: 120%;
    font-weight: bolder;
    padding-right: 50px;
    border-right: 1px solid #333;
}

.navbtn{
    padding-right: 20px;
    border-right: 1px solid #333;
}

.header.title{
    text-align: center;
    font-size: 150%;
}


header{
    text-align: center;
}

nav{
    background: rgba(0, 0, 0, 0.411);
    overflow: auto;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

nav li {
    margin: 5px;
    padding: 8px;
    float: left;
}

h1 {
    font-size: 250%;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

.welcome{
    margin: 10px;
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.txtlink{
    color: rgb(186, 186, 250);
}

ul, li{
    list-style: none;
}

.slider{
    margin: 10px;
}

.slider .title{
    background: rgba(10, 10, 10, 0.467);
    font-size: 120%;
    text-align: center;
    border-bottom: 1px #ddd solid;
    cursor: pointer;
}

.slider .text{
    display: none;
    margin: 10px;
    padding-top: 5px;
}

th{
    border-bottom: 1px solid #fff
}

table{
    font-size: 125%;
    min-width: 200px;
    margin: 15px auto;
}

.hobby{
    text-align: center;
}

td{
    margin: 15px;
    padding-right: 80px;
}

table .info{
    float: left;
}

.info{
    margin-left: 500px;
}

.mypic{
    border: 2px solid #000;
    margin-top: 5px;
    margin-right: 500px;
    float: right;
    height: 150px;
}

.topimg .frontpic{
    display: block;
    margin: 20px auto;
    height: 400px;
    width: 70%;
}

@media(max-width:1000px){

    #container{
        width: 100%;
    }

    .welcome{
        font-size: 80%;
    }

    .text{
        font-size: 50%;
    }

    table{
        font-size: 190%;
        min-width: 80%;
    }
  
    .topimg. .frontpic {
        display: block;
        margin: 20px auto;
        height: 400px;
        width: 95%;
    }
}

footer{
    padding-top: 15px;
    text-align: center;
}